/* body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  min-width: 400px;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px 30px;
  background: #f4f4f9;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h2 {
  margin: 0;
  color: #333;
}

.switchButton {
  background: none;
  border: none;
  color: #253040;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.switchButton:hover,
.switchButton:focus {
  background: none;
  outline: none;
  box-shadow: none;
  color: #1c2635;
}